---
import {formatDate, getBaseUrl} from "@/utils";
interface Props {
  title: string;
  summary: string;
  date: string | Date;
  slug: string;
  pluginSlug?: string;
}

const {title, summary, date, slug, pluginSlug} = Astro.props;
const formattedDate = formatDate(date);

const basePrefix = getBaseUrl(true);
const path = basePrefix + (pluginSlug ? `/plugins/${pluginSlug}/blog/${slug}` : `/blog/${slug}`);
---
<a class="blog-post" href={path}>
  <h1 class="post-title">{title}</h1>
  <p class="post-summary">{summary}</p>
  <time class="post-date" datetime={date.toString()}>{formattedDate}</time>
</a>

<style>
.blog-post {
    border-radius: 8px;
    background-color: var(--bg);
    border: 1px solid var(--bg);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.blog-post:hover {
    background-color: var(--bg-hover);
}

.post-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--text);
}

.post-date {
    font-size: 15px;
    font-weight: 400;
    color: var(--muted-text);
}

.read-post {
    align-self: flex-start;
}
</style>
