---
import BuiltInTag from "@/components/BuiltInTag.astro";
import Tag from "@/components/plugins/Tag.astro";
import type {ExtendedPlugin} from "@/pages/plugins/_types";
import {getBaseUrl} from "@/utils";

interface Props {
  plugin: ExtendedPlugin;
  class?: string;
  minHeight?: boolean;
  loading?: "lazy" | "eager";
}

const {
  plugin,
  class: className,
  minHeight,
  loading = "lazy",
  ...rest
} = Astro.props;
const href = getBaseUrl(true) + `/plugins/${plugin.slug}`;


---

<a class:list={["plugin", className, {minHeight}]} {href} {...rest}>
  <div class="header">
    <img alt="" src={plugin.icon} class="icon" loading={loading}/>
    <div class="title">
      <div class="name">
        {plugin.name}
        {plugin.isBuiltIn ? <BuiltInTag /> : null}
      </div>
      <div class="author">by {plugin.author}</div>
    </div>
  </div>

  <p class="description">
    {plugin.description}
  </p>

  {plugin.tags.length > 0 ? (
    <div class="tags">
      {plugin.tags.sort().map(tag => <Tag>{tag}</Tag>)}
    </div>
  ) : null}
</a>

<style>
.plugin {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    background-color: var(--card);
    box-shadow:
            0 4px 6px rgba(var(--card-shadow), var(--card-shadow-opacity-1)),
            0 12px 16px rgba(var(--card-shadow), var(--card-shadow-opacity-2));
    border: 1px solid var(--card-sep);
}

.plugin:hover {
    transform: translateY(-4px);
    box-shadow:
            0 8px 12px rgba(var(--card-shadow), var(--card-shadow-opacity-hover-1)),
            0 20px 28px rgba(var(--card-shadow), var(--card-shadow-opacity-hover-2));
}

.plugin.minHeight {
    min-height: 200px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: 500;
}

.author {
    font-size: 14px;
}

.description {
    padding: 4px 16px;
    flex: 1;
}

.tags {
    padding: 12px 16px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

@media (prefers-reduced-motion: reduce) {
    .plugin {
        transition: none;
    }

    .plugin:hover {
        transform: none;
    }
}
</style>
